{% extends "rjweb/_info_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block "content" %}

<h1>{% trans 'Att redigera i OpenStreetMap' %}</h1>

<h2>{% trans 'Förberedelser' %}</h2>

<p>
    {% blocktrans trimmed %}
    Öppna ett konto på OpenStreetMap (OSM) under http://www.openstreetmap.org. Det krävs endast en e-post adress för
    registrering.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    För att ändra i databasen markera fliken Redigera när du är inne på kontot. Välja om ändringarna ska registreras
    direkt eller först när ändringen sparas.
    {% endblocktrans %}
</p>

<h2>{% trans 'Lägg till nya vägar' %}</h2>

<p>
    {% blocktrans trimmed %}
    För att skapa en ny väg klickar du på kartan där vägen ska börja. På så sätt skapas en startpunkt. Varje gång du
    sedan klickar på kartan bildas en ny punkt och därmed en ny väg som binder samman punkten med den föregående. Vill
    du binda samman din väg med en befintlig väg klickar du på den punkt där du vill att vägen ska ansluta till den
    befintliga. På så sätt bildas en gemensam punkt. När vägen är klar avslutar du med att dubbelklicka.
    {% endblocktrans %}
</p>

<h2>{% trans 'Ändra befintliga vägar' %}</h2>

<p>
    {% blocktrans trimmed %}
    Om du klickar på en befintlig väg så markeras den, och alla dess punkter blir synliga. För att ändra sträckningen på
    vägen så klickar du på en punkt, håller ner musen och drar punkten dit du vill flytta den. Vill du flytta hela
    vägsträckningen klickar du på en linje och drar vägen dit du vill ha den.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    Vill du ta bort en vägsträckning markerar du dess punkter och trycker på Delete.
    {% endblocktrans %}
</p>

<h2>{% trans 'Egenskaper' %}</h2>

<p>
    {% blocktrans trimmed %}
    Vägarna kan ha olika egenskaper som används vid ruttplaneringen, som till exempel cykel- och gångvägar. Dessa
    egenskaper lägger du till genom de runda knapparna som syns nere till höger när du markerat en vägsträckning. Du kan
    antingen lägga till egenskaper själv eller kopiera egenskaperna från en befintlig väg. För att program som
    Resejämföraren ska kunna beräkna färdsträckor är det viktigt att egenskaperna stavas rätt, är du osäker kan du
    jämföra med en existerande väg med samma egenskap. Observera behovet av att även lägga in enkelriktade sträckor. För
    att markera en väg som enkelriktad läggs detta till med en knapp till vänster när vägen är markerad.
    {% endblocktrans %}
</p>

<h2>{% trans 'Avsluta' %}</h2>

<p>
    {% blocktrans trimmed %}
    Spara när du är klar med dina ändringar. Du har då även möjlighet att beskriva de ändringar du har genomfört.
    {% endblocktrans %}
</p>

<p class="info-return"><a href="info_start">{% trans 'Tillbaka' %}</a></p>

{% endblock %}