{% extends "rjweb/_info_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block "content" %}

<h1>{% trans 'Vanliga frågor och svar' %}</h1>

<dl>
    <dt>{% trans 'Varför väljer inte Resejämföraren min bil- / cykelväg?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        Tjänsten bygger på att engagerade användare uppdaterar karttjänsten genom att exempelvis lägga in gång- och
        cykelvägar. Om en specifik väg inte visas i Resejämföraren beror det på att den ännu inte är inlagd. Eftersom
        OpenStreetMap har många engagerade användare i Lund är det troligt att den kommer uppdateras inom kort.
        {% endblocktrans %}
    </dd>

    <dt>{% trans 'Varför fastnar inte nålen i kartan?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        Om nålen inte fastnar beror det på att du dragit nålen till aktuell plats istället för att först klicka på nålen
        och därefter klicka på adressen du önskar markera. Om du använder sökfältet kan du hitta din exakta adress på
        ett enkelt sätt. Kartans zoomfunktion hjälper dig att hitta dina respunkter i hela Skåne- och
        Köpenhamnsregionen.
        {% endblocktrans %}
    </dd>

    <dt>{% trans 'Hur är uppgifterna i Resejämföraren beräknade?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        Under knappen Information finns samtliga beräkningsgrunder till Resejämföraren.
        {% endblocktrans %}
    </dd>

    <dt>{% trans 'Varför går det inte att använda Resejämföraren i Göteborg?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        Resejämföraren är just nu tillgänglig i hela Skåne- och Köpenhamnsregionen. För att det ska vara möjligt att
        jämföra i andra län krävs att andra kollektivtrafikbolag kopplar upp sig mot Resejämföraren.
        {% endblocktrans %}
    </dd>

    <dt>{% trans 'Varför skrollar inte kartan när jag drar den med musen?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        Du har Internet Explorer och drar för snabbt. Dra långsammare så fungerar det.
        {% endblocktrans %}
    </dd>

    <dt>{% trans ' Varför ser man inte hela skärmbilden?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        Resejämföraren är utvecklad för skärmar 1280*1024 för att uppnå bästa möjliga kartbild.
        {% endblocktrans %}
    </dd>

    <dt>{% trans 'Varför visas en rutt där vissa av sträckorna är enkelriktade i verkligheten?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        Det beror troligtvis på att användaren inte har registrerat sträckan som enkelriktad. Felet kommer med stor
        sannolikhet att åtgärdas inom kort av andra användare. För att minimera antalet fel har tekniska förvaltningen
        gjort en översyn av kartan för Lunds tätort.
        {% endblocktrans %}
    </dd>

    <dt>
        {% blocktrans trimmed %}
        Varför väljer Resejämföraren gång- och cykelväg över Helsingborg- Helsingör medan bil och tåg går över
        öresundsbron när jag jämför pendling mellan Köpenhamn och Lund?
        {% endblocktrans %}
    </dt>
    <dd>
        {% blocktrans trimmed %}
        Det är en effekt av hur ruttplaneringen görs. I dagsläget tar den inte hänsyn till att man kan ta cykel på
        tåget. Dessutom finns ju redan alternativet med kollektivtrafik - använd det alternativet som svar på frågan.
        {% endblocktrans %}
    </dd>

    <dt>
        {% blocktrans trimmed %}
        Jag får en ruta som säger "Du har angett en punkt utan anknytning. Vänligen markera en ny punkt strax i
        närheten" - varför det?
        {% endblocktrans %}
    </dt>
    <dd>
        {% blocktrans trimmed %}
        Ruttplaneringen sker utifrån ett vägnät. Du befinner dig för långt ifrån ett sådant för att kunna göra
        beräkningen.
        {% endblocktrans %}
    </dd>

    <dt>
        {% blocktrans trimmed %}
        Jag får en ruta som säger "Du har antingen angivit en adress där det inte finns någon hållplats inom 300 m eller
        där hållplatserna ligger alltför nära varandra. Vänligen markera ny punkt." Varför det?
        {% endblocktrans %}
    </dt>
    <dd>
        {% blocktrans trimmed %}
        Ruttplaneringen kan inte finna en reserelation för kollektivtrafiken som passar rutten, detta är speciellt
        vanligt om sträckan mellan start- och målpunkt är kort.
        {% endblocktrans %}
    </dd>

    <dt>{% trans 'Om jag satt en av nålarna fel, hur gör jag då?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        Klicka på nålen i vänsterfältet och sätt den på önskad adress. Tyck på Jämför färdsätt eller tryck på Rensa
        knappen och gör om sökningen.
        {% endblocktrans %}
    </dd>

    <dt>{% trans 'Varför blir inte min rutt beräknad när jag söker adresser?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        Du behöver sätta nålarna manuellt på kartan. Adress-sökningen hjälper bara till att hitta adressen.
        {% endblocktrans %}
    </dd>

    <dt>{% trans 'Varför kan jag välja mellan Karta, Satellit och OSM?' %}</dt>
    <dd>
        {% blocktrans trimmed %}
        För att underlätta navigationen för användaren ges det en möjlighet att välja kartabild Det kan ibland vara
        lättare att orientera sig med hjälp av en satellitbild, ibland med en ritad karta. OSM betyder OpenStreetMap,
        vilket är den databas som används för ruttplaneringen. Om du saknar en rutt kan du kontrollera om den är inlagd
        i databasen via OSM fliken.
        {% endblocktrans %}
    </dd>

</dl>

<p class="info-return"><a href="info_start">{% trans 'Tillbaka' %}</a></p>

{% endblock %}