{% extends "rjweb/_info_base.html" %}
{% load staticfiles %}
{% load i18n %'}
{% block "content" %}

{% language 'en' %}
        (Nerd information only available in Swedish.)
{% endlanguage %}

<table class="infoTable">
	<tr>
		<td><img src="{% static 'rjweb/img/info/Buss_ruta_info.png' %}"/></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		
		<td colspan=2 class="infoTD2">F&ouml;ljande data fr&aring;n Sk&aring;netrafiken anv&auml;nds vid ber&auml;kning:
		<br />
		<br />
		</td>
		<td></td>
		<td></td>
		

	</tr>
	<tr>
		
		<td class="infoTD2"><i>Trafikslag</i></td>
		<td><i>Parametrar f&ouml;r ber&auml;kningsunderlaget</i></td>
		<td></td>
	</tr>
	<tr>
		
		<td valign="top" class="infoTD2">Buss i stad</td>
		<td>Fordonstyp: T&auml;tortsbuss <br />
		Maxlast: 59 personer <br />
		Motor- och br&auml;nsletyp: Fordonsgas <br />
		Br&auml;nslef&ouml;rbrukning: 4,9 liter/10 km <br />
		Fyllnadsgrad: 20 %= 12 Pers 1 liter gas = 1,5 kg CO2</td>
		<td></td>
	</tr>
	<tr>
	
		<td valign="top" class="infoTD2">Buss p&aring; landsv&auml;g</td>
		<td>Maxlast: 58 personer <br />
		Motor- och br&auml;nsletyp: Diesel medel <br />
		Br&auml;nslef&ouml;rbrukning: 4,9 liter/10 km <br />
		Fyllnadsgrad: 45 % = 26 Pers <br />
		1 liter diesel = 2,54 kg CO2</td>
		<td></td>
	</tr>
	<tr>
		
		<td valign="top" class="infoTD2">Eldrivna t&aring;g</td>
		<td>Fordonstyp: T&aring;g, eldrivet <br />
		&ouml;resundst&aring;g: 237 Platser <br />
		Elmix: Bra Milj&ouml;val El - Naturskyddsf&ouml;reningen <br />
		Bel&auml;ggning: 65% = 154 Platser <br />
		Kg CO2 / ElT&aring;gKm = 0,000 001</td>
		<td></td>
	</tr>

	<tr>
		<td colspan='3' class='tillbakaTD'><a href="#" onClick="history.go(-1)">Tillbaka</a> </td>
	</tr>
<table>

{% endblock %}
